body {
	color: red;
}

span {
   color:blue;
}

p > span { 
/*  PRIMENA STILA NA SPANOVE U P-u */
 color:green;
 background-color: blue;
}

.ultraDugme {
	background-color:black;
	color:white;
}

#nashaSlika:hover {
    width: 240px;
    height: 240px;
}

#nashaSlika {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

tr:nth-child(even){background-color: rgb(131, 111, 150);  }
tr:nth-child(odd){background-color: rgb(248, 189, 13);}

th {
	background-color: white;
	color: black;

}


#txtUnos {
	display: block;
	width: 76%;
	
}

.numberPad {
	background-color: #555333;
	color: purple;
}

.numberPad:hover {
	color: #555333;
	background-color: purple;
	
}

#btnEquals {
	color: orange;
	background-color: yellow;
}

#btnSum {
	color:red;
	background-color: pink;
	
}

div {
	width:500px;
}

div > button {
	display:inline-block;
	width:25%;
}


/***

div > button { 


}


***/


