<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ajax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JsonServlet</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>suncica.milivojsa.contoler.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonListServlet</display-name>
    <servlet-name>JsonListServlet</servlet-name>
    <servlet-class>suncica.milivojsa.controler.JsonListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonListServlet</servlet-name>
    <url-pattern>/JsonListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestOsobaService</display-name>
    <servlet-name>RestOsobaService</servlet-name>
    <servlet-class>suncica.milivojsa.controler.RestOsobaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestOsobaService</servlet-name>
    <url-pattern>/RestOsobaService</url-pattern>
  </servlet-mapping>
</web-app>